PythonAPI/carla/data/xsd/genericparameter_file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="genericParameter" type="genericParameterType"/>
    
    <xsd:complexType name="genericParameterType">
        <xsd:choice maxOccurs="unbounded">
            <xsd:element name="param" type="ParameterType" minOccurs="0"/>
		</xsd:choice>
    </xsd:complexType>
    
    <xsd:complexType name="ParameterType">
        <xsd:attribute name="key" type="xsd:string" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>
</xsd:schema>
